.chatapp-container {
    height:90vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
}

header{
    padding:rem;
    font-weight:bold;
    font-size:1.25rem;
}

.message-section {
    display:flex;
    flex-direction:column;
    overflow:hidden;
    height: 85vh;
    width: 80vw;
    background: rgba(187, 210, 242, 0.434);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.messages {
    flex:1;
    padding:1rem;
    display:flex;
    flex-direction: column;
    gap:0.75rem;
}

.message.assistant{
    align-self:flex-start;
    background-color: whitesmoke;
    padding: 0.2rem 0.8rem;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.message.user{
    align-self: flex-end;
    background-color: #2ed5fa76;
    padding: 0.2rem 0.8rem;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.input{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.75rem;
}

.input input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    border: 1px solid black;
}

.input button {
    background: #2ed5fa76;
    padding: 0.5rem 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.assistant-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0.9rem;
    border: 1px solid rgba(128, 128, 128, 0.502);
    border-style: none none solid none;
}

.assistant-image-holder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden; /* clips image*/
    flex-shrink: 0;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.assistant-image-holder img {
    width: 100%;
    height: 100%;
    transform: scale(1.60);
}

