/* Page container */
.progress-container {
  min-height: 100vh;
  width: 100vw;
  padding: 4rem 2rem;
  background-color: #fafafa;

  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Heading */
.progress-container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #111827;
  text-align: center;
  max-width: 800px;
  margin-bottom: 1rem;
}

