.main-nav {
    display:flex;
    background: #c4dfe5;
    padding: 0.1rem 2rem;
    align-items: center;
    gap: 60px;
    position:sticky;
    top: 0;
    z-index: 100;
    border: 2px solid #0b7c95;
    border-style: none none solid none;
}

.nav-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.main-nav a {
    color: #0b7c95;
}

.main-nav a:hover {
    color: whitesmoke;
}

.header-title{
    font-size: 30px;
}

.site-footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background:#c4dfe5;
}
